@import '@/global.css';

@layer base {
    body {
        @apply bg-background text-foreground;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: hsl(var(--border));
        border-radius: 5px;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--border)) transparent;
    }
}